<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TS Numbers</title>
</head>
<script>
    window.onload = function () {
        let hostname = window.location.host;
        let wsPath = "ws://" + hostname + "/ws/ts_numbers";
        let socket = new WebSocket(wsPath);

        socket.onmessage = function (event) {
            let incomingMessage = event.data;
            showMessage(incomingMessage);
        };

        function showMessage(message) {
            let messageElem = document.createElement('li');
            let preform_text = document.createElement('pre')
            preform_text.appendChild(document.createTextNode(message));
            messageElem.appendChild(preform_text);
            document.getElementById('messages').appendChild(messageElem);
        }
    }
</script>
<body>
    <div align="center" style="margin:0">
        <h2 align="center">Time series data:</h2>
        <ol id="messages" style="display:inline-block"></ol>
    </div>
</body>
</html>